<div>
    <section style="padding:5%; width:100%; height:200px;background-color:black; ">
      <p class="text-center text-white " style="padding: 2%; font-size:50px;">About US</p>
    </section>
</div>
    
    
    
    <section>
     <div class ="container-fluid" >
       <div class ="row" style="padding:10%; background-color:#F2F4F4 ;" >
         <div class ="col-lg-6" >
          <div>
           <h2>Welcome To Our <span>Vehicle Loan Management </span></h2>
          </div>
          
          <br>
           <p> we providing Difference Type of Loan in over UP since 2009.
           It invites all of kind persons if You are in need of loans. 
           We will normally still be able to help you get out of your current financial problems and help you start again.
           You can apply online anytime 24 hours a day, 7 days a week</p>
         
          
           <p> Our Company deals with personal Loans, Car Loans & Projects Loan etc.</p>
          
          
          <p> The association of the company with the finest pedigree investors reflects company’s sustainable growth and synergies.
          We work closely with government entities and regulators to advise and assist them in formulating policy and regulatory
          frameworks that support private investment and public-private partnerships in infrastructure development. 
          We are perfectly positioned to meet your unique needs</p>
       </div>
       <div class ="col-lg-6">
         <img src=" http://loansolutionservices.com/images/aboutloan.jpg">
       </div>
     </div>
     </div>
    </section>
    
    
    <!-- Stats Section -->
    <div class="container space-2">
      <div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0">
          <div class="text-center">
            <small class="text-cap text-primary mb-3">— Valuation methods </small>
            <span class="d-block display-4 text-dark mb-3">500,000</span>
            <p>Our valuation methods are based on more than 500,000 real transactions.</p>
          </div>
        </div>
    
        <div class="col-sm-4 mb-3 mb-sm-0">
          <div class="text-center">
            <small class="text-cap text-primary mb-3">— Coverage</small>
            <span class="d-block display-4 text-dark mb-3">75%</span>
            <p>This represents over 75% of the UK property sales over the past 10 years.</p>
          </div>
        </div>
    
        <div class="col-sm-4">
          <div class="text-center">
            <small class="text-cap text-primary mb-3">— Advanced algorithm</small>
            <span class="d-block display-4 text-dark mb-3">125,000</span>
            <p>Our algorithms are updated by data from over 125,000 property sales every year.</p>
          </div>
        </div>
      </div>
      <!-- End Row -->
    </div>
    <!-- End Stats Section -->
    <br>
    
    <!--Footer-->
    <footer class="container-fluid space-2 text-center bg-dark text-white w-100">
      <!-- Logo -->
      <i class="fa fa-car fa-3x" aria-hidden="true"></i><b class="font-size-3"> Vehicle Loan Management </b>
      <!--End Of Logo-->
      <p class="font-size-1 mb-1">We're part of the Cap Gemini family.</p>
      <p class="font-size-1">© Front. 2021 Vehicle Loan Management. All rights reserved.</p>
    
      <!-- Social Networks -->
      <ul class="list-inline mb-0">
        <li class="list-inline-item mb-2 mb-sm-0">
          <a class="btn btn-icon btn-sm btn-ghost-secondary rounded-circle bg-light" href="#">
            <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        <li class="list-inline-item mb-2 mb-sm-0">
          <a class="btn btn-icon btn-sm btn-ghost-secondary rounded-circle bg-light" href="#">
            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        <li class="list-inline-item mb-2 mb-sm-0">
          <a class="btn btn-icon btn-sm btn-ghost-secondary rounded-circle bg-light" href="#">
            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        <li class="list-inline-item mb-2 mb-sm-0">
          <a class="btn btn-icon btn-sm btn-ghost-secondary rounded-circle bg-light" href="#">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        <li class="list-inline-item mb-2 mb-sm-0">
          <a class="btn btn-icon btn-sm btn-ghost-secondary rounded-circle bg-light" href="#">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      <!-- End Social Networks -->
    </footer>

